<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Books</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>id</th>
        <th>titolo</th>
        <th>testo</th>
        <th>numberBookInStock</th>
        <th>numberBooksOut</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books | async">
        <td>{{book.id}}</td>
        <td>{{book.titolo}}</td>
        <td>{{book.testo}}</td>
        <td>{{book.numberBookInStock}}</td>
        <td>{{book.numberBooksOut}}</td>
        <td><button (click)="deleteBook(book.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
