<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring - Library</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />

</head>
<body>
<h1>Lista Libri</h1>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Titolo</th>
            <th>Testo</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${libri}">
            <td th:text="${book.ISBN}"></td>
            <td th:text="${book.titolo}"></td>
            <td th:text="${book.testo}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
