<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="closeSidenavOnMobile(drawer)">Home</a>
      <a mat-list-item routerLink="/books" (click)="closeSidenavOnMobile(drawer)">Books</a>
      <a mat-list-item routerLink="/orders" (click)="closeSidenavOnMobile(drawer)">Orders</a>
      <a mat-list-item routerLink="/addBook" (click)="closeSidenavOnMobile(drawer)">Add Book</a>
      <a mat-list-item routerLink="/addOrder" (click)="closeSidenavOnMobile(drawer)">Add Order</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        *ngIf="isHandset$ | async"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>
    <div class="content">
      <main class="content">
        <router-outlet></router-outlet>
      </main>
      <mat-toolbar color="primary" class="footer">
        <div class="footer-content">
          <p>&copy; <a href="https://github.com/crimolf/Library" target="_blank">github.com/crimolf</a></p>
        </div>
      </mat-toolbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
