.div-1 {
  background-color: #f5f5f5;
  box-sizing: content-box;
  height: 47px;
  opacity: 1;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;

}

h2 .white-text {
  color: white;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 20px;
  flex-grow: 1;
}

.footer {
  padding: 10px 20px;
}

.footer .footer-content {
  margin: 0 auto;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 0.9em;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
